@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
	font-family: 'Nanum Gothic';
}

body {
	background-color: rgb(243, 228, 168);
}


thread th {
	background-color: #006DCC;
	color:white;
	text-align: center;
}
tr td:first-child,
tr th:first-child {
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}

tr td:last-child,
tr th:last-child {
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
}

h5 {
	font-family: 'Nanum Sans KR';
}

h3 {
	font-family: 'Hanna'';
}

h2 {
	font-family: 'Hanna'';
}

h1 {
	font-family: 'Hanna'';
}

.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}

.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}

.modal-content {
	height: inherit;
	width: inherit;
	margin: 0 auto;
	pointer-events: none;
}

.container {
		width: 350px;
		position: absolute;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
}

.TextButton {
	display: flex;
	justify-content: space-around;
    align-items: center;
}

.Address {
		display: flex;
	justify-content: space-around;
    align-items: center;
}

/* 중복체크 버튼에 margin 주기 */
#ID_btn {
	margin: 0px 0px 0px 5px;
}

/* 우편번호 텍스트에 margin 주기 */
#zipNo {
	margin: 0 100px 0 0;
}

/* 주소 텍스트에 margin 주기 */
#address {
	margin: 5px 0 0 0;
}

/* 상세주소 텍스트에 margin 주기 */
#addrDetail {
	margin: 5px 0 0 0;
}




